<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseVersion</key>
	<string>1.0</string>
	<key>DiffPackType</key>
	<string>UserEdit</string>
	<key>DocumentType</key>
	<string>PlaygroundBook</string>
	<key>Name</key>
	<string>com.apple.playgrounds.blank</string>
	<key>UpdateVersion</key>
	<string>1.0</string>
	<key>Updates</key>
	<dict>
		<key>Added</key>
		<array>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/RemoveDups.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/KthToLast.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/DeleteMiddleNode.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/Partition.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/SumLists.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/Palindrome.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/Intersection.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/LoopDetection.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/LinkedList.playgroundmodule/Sources/LinkedList.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/UniqueString.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/StringRotation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/CheckPermutation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/RotateMatrix.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/ZeroMatrix.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/OneAway.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/PalindromePermutation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/StringCompression.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/ArraysAndStrings.playgroundmodule/Sources/Urlify.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/QueueViaStacks.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/ThreeInOne.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/StackMin.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/SortStack.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/StackOfPlates.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/Stack.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/AnimalShelterQueue.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/StacksAndQueues.playgroundmodule/Sources/Queue.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/BinaryTree.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/ValidateBST.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/MinimalTree.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/ListOfDepths.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/Successor.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/FindBSTSequences.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/FirstCommonAncestor.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/Untitled.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Trees.playgroundmodule/Sources/PathsWithSum.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/Graphs.playgroundmodule/Sources/BuildOrder.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/OODesign.playgroundmodule/Sources/Minesweeper.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/TripleStep.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/RobotInGrid.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/MagicIndex.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/PowerSet.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/PermutationsWithOutDups.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/PermutationsWithDups.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/PaintFill.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/Coins.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/EightQueens.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/StackOfBoxes.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/RecursionAndDynamicProgramming.playgroundmodule/Sources/BooleanEvaluation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/SortedMerge.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/GroupAnagrams.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/SortedMatrixSearch.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/BinarySearch.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/PeaksAndValleys.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/RankFromStream.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/SparseSearch.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/RotatedArraySearch.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/MergeSort.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/SortingSearching.playgroundmodule/Sources/QuickSort.swift</string>
			</dict>
		</array>
		<key>Modified</key>
		<array>
			<dict>
				<key>Diff</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift.delta</string>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</string>
			</dict>
		</array>
		<key>Removed</key>
		<array/>
		<key>Replaced</key>
		<array/>
	</dict>
</dict>
</plist>
